header{
 
    text-align: center;
    position: relative;
    position: fixed;
    z-index: 999;
    width: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(90deg ,rgba(2, 74, 88, 0.967)  24%,rgb(16, 119, 140) 58%,rgba(2, 74, 88, 0.967)100%);
}


.top-nav{
    position: absolute;
    text-align: left;
    left: 0;
    background: linear-gradient(90deg ,rgba(2, 74, 88, 0.967)  24%,rgb(16, 119, 140) 58%,rgba(2, 74, 88, 0.967)100%);
    width: 100%;
    transform: scale(0);
    transform-origin: right;
    transition:transform 900ms ease-in-out
    
}



.brand-holder{
    display: flex;
    flex-direction: column;
    align-items: center;;
}

.brand{
    color:#00a1fe;
    font-weight: 600;
    font-family: cursive;

}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    margin-bottom: 1em;
    margin-left: 1em;
}

nav a{
    color: #00a1fe;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 800;
    font-style: normal;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity 150ms ease-in-out;
}

.hero-text p{
    color: black;
    font-family:sans-serif;
    text-align: start;
    font-weight: 500;
    font-size: small;
}


.hero-text h1{
    color: black;
    text-align: center;
    
}


nav a:hover{
    color: #00a1fe;
    transform: scale(5,5);
    /* transition:trtransform 1500ms ease-in-out; */
    
}

.nav-toggle:checked ~ nav {
    transform: scale(1,1);
    
 }



 .nav-toggle{
    display: none;
}

.nav-toggle-label{
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    height: 100%;
    display: flex;
    align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after{
    display: block;
    background: chocolate;
    height: 2px;
    width: 2em;
    border-radius: 2px;
    position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after{
    content: '';
    position: absolute;
}

.nav-toggle-label span::before{
    bottom: 7px;
}

.nav-toggle-label span::after{
    top: 7px;
}

.nav-toggle:checked ~ nav a{
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;

}


@media screen and (min-width:800px){

    header{
        display: grid;
        grid-template-columns: 1fr minmax(600px,1fr) ;
        padding-left: 0;
    }

    .nav-toggle-label{
        display: none;
    }

    .brand-holder{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin: 15px;
    }



    .logo{
        grid-column: 1/2;
       display: flex;
       /* margin-left: 50px; */
    }


  

   
    .top-nav{
        all: unset;
        grid-column: 2/2;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-right: 50px;

    }


    nav a{

        opacity: 1;
        position: relative;
        font-size: 1.3rem;
        font-weight: 500;
        transition: opacity 150ms ease-in-out;
    }


    nav ul{
        display: flex;
        justify-content: flex-end;
       
    }
    

    nav li{
        margin-left: 3em;
        margin-bottom: 0;
    }


    
    nav a::before{
        content: '';
        display: block;
        height: 5px;
        background: #00a1fe;
        position: absolute;
        top: -0.75em;
        right: 0;
        left: 0;
        transform: scale(0,1);
        transition: transform ease-in-out 250ms;
    }


    nav a:hover::before{
        transform: scale(1,1);
    
    }
}
/*=================================================================================================================*/




.media-icon-holder{
    display: flex;
    flex-direction: row;
    gap: 12px;
    padding: 10px;
    align-items: center;
    background-color: #00a1fe;
}

.media-icon-holder img{
    width: 40px;
    height: 40px;
}


.media-1:hover img{

    transform: scale(1.2);
    transition: transform 400ms ease-in-out;
    cursor: pointer;
}




.round-image para{
    display: flex;
    text-align: start;
}
.round-image img{

    height: 64px;
    width: 64px;
    border-radius: 32px;
   
}

.media-icon-holder-2{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px;
    padding: 10px;
}

.media-icon-holder-2 img{
    height: 36px;
    width: 36px;
    margin: 15px;
    padding: 5px;
}


footer{

    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg ,rgb(2, 74, 88)  40%,rgb(16, 119, 140) 58%,rgb(2, 74, 88)100%);
        
}


.bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

.bottom ul{
    margin-top: 14px;
   display: flex;
   flex-direction: column;
}

.bottom a{
    color: #00a1fe;
    text-decoration: none;
    font-size: 1rem;
    text-transform: uppercase;
    opacity: 1;
    transition: opacity 150ms ease-in-out;
}

@media screen and (min-width:800px){

    .bottom ul{
       flex-direction: row;
     
    }

    .bottom a{

        font-size: 1.2rem;
    }

        
    .bottom .media-icon-holder-2{
        justify-self: end;
    }
}



