.container{
    height: 600px;
    padding: 20px;
    margin-left: 40px;
    margin-right: 40px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
   
}

.container img{
    width: 50%;
    height: 500px;
   

}

.hero-text h1{
    font-size: 3.3rem;
    margin-bottom: 12px;
    color: blueviolet;
}

.hero-text p{
    font-size: 1.4rem;
    margin-bottom: 12px;
}


button{
    border-radius: 40px;
    margin: 8px;
    font-weight: 600;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-align: center;
    
    white-space: nowrap;

}

.prim-button{
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    
}

.prim-button:hover{
    background: rgb(73, 73, 214);
    color: white;
    cursor: pointer;
    font-size: .95rem;
    transition: 1s ;
}

.sec-button{
    color: black;
    border: 2px solid black;
    padding: 8px;
}
  

.sec-button:hover{
    background: wheat;
    cursor: pointer;
    color: rgb(3, 3, 3);
    border: 2px solid white;
    font-size: .95rem;
    transition: 1s;
}




@media (max-width:884px){
    .container{
        margin-top: 100px;
        flex-direction: column;
    }

 
    .hero-text p{
        font-size: 1.1rem;
        margin-bottom: 12px;
    }

    .hero-text h1{
        font-size: 3rem;
    }

    .container img{
        width: 60%;
        height: 250px;
       
    
    }
}
    @media (max-width:678px){
        .hero-text h1{
            font-size: 2rem;
        }

        .hero-text p{
            font-size: 1rem;
            margin-bottom: 12px;
        }
        .container img{
            width: 60%;
            height: 250px;
            
        }
}
