.container{
    height: 600px;
    padding: 20px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    background: rgb(40,40,55);
    background:linear-gradient(0deg, #000000d9 20%, #0f6cb9b3 50%, #001f29 100%);
   
}

.container img{
    width: 50%;
    height: 500px;
   

}

.book-image{
    width: 50%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../ICON/10794189_fullsize-removebg-preview.png'); 
}

.hero-text{
    width: 50%;
    
}
.hero-text h1{
    font-size: 2.8rem;
    text-align: justify;
    margin-bottom: 12px;
    color: blueviolet;
}

.hero-text p{
    font-size: 1.1rem;
    margin-bottom: 12px;
    text-align: justify;
    color: black;
    font-weight: 500;
    
}


button{
    border-radius: 5px;
    margin: 8px;
    font-weight: 600;
    font-size: 0.85rem;
    text-transform: uppercase;
    text-align: center;
    cursor: pointer;

}

.prim-button{
    position: relative;
    background: blue;
    color: white;
    border: none;
    padding: 10px;
    
}

.prim-button:hover{
    background: rgb(73, 73, 214);
    font-size: .90rem;
    transition: 500ms ;
}

.sec-button{
    color: blue;
    border: 1px solid blue;
    padding: 8px;
}
  

.sec-button:hover{
    background: wheat;
    color: rgb(20, 19, 19);
    border: 1px solid white;
    font-size: .90rem;
    transition: 500ms;
}




@media (max-width:884px){
    .container{
        margin-top: 100px;
        flex-direction: column;
    }

 
    .hero-text p{
        font-size: 1.1rem;
        margin-bottom: 12px;
    }

    .hero-text h1{
        font-size: 3rem;
    }

    .container img{
        width: 60%;
        height: 250px;
       
    }
}
    @media (max-width:678px){
        .hero-text h1{
            font-size: 2rem;
        }

        .hero-text p{
            font-size: 1rem;
            margin-bottom: 12px;
        }
        .container img{
            width: 60%;
            height: 250px;
            
        }
}
