
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

.products{
  width: 100%;
  display: flex;
  justify-content:space-between;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 3.125rem;
  background: linear-gradient(90deg ,rgb(22, 115, 134)  24%,rgb(16, 119, 140) 58%,rgba(2, 74, 88, 0.967)100%);
}

.product-card-wrapper{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  justify-content: space-between;
  align-items: center;

}

.product-card {
  width: 316px;
  height: 456px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0px 0px 10px #000000;
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
}


.product-holder_header{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem auto 2rem 0;
}

.product-holder_header hr{
  height: 4px;
  background-color: #ffffff;
  width: 15%;
  border-radius: 12PX;
  border: none;
}

.product-holder_header h1{
  text-transform: uppercase;
  margin: 0 8px;
  color: #ffffff;
}

[class*='cover-']{
  border-radius: 6px;
  box-shadow: 0px 0px 20px 1px #000000;
  margin: 1.3rem 0;
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  width: 50%;
  height: 300px;
  transition: all 500ms ease-in-out;
}


 .cover-1 {
  background: linear-gradient(10deg, rgba(38, 146, 255, 0) 0%, rgba(0, 64, 255, 0) 100%),url('../ICON/Steel_AGiftOfHope_Hardcover.jpg');
  background-size: 100% 100%;

}

.cover-2 {
  background: linear-gradient(10deg, rgba(38, 146, 255, 0) 0%, rgba(0, 64, 255, 0) 100%),url('../ICON/edgar-allan.jpg');
  background-size: 100% 100%;
}

.cover-3 {
  background: linear-gradient(10deg, rgba(38, 146, 255, 0) 0%, rgba(0, 64, 255, 0) 100%),
  url('../ICON/The_Alchemist.png');
  background-size: 100% 100%;
}

.cover-4 {
  background: linear-gradient(10deg, rgba(38, 146, 255, 0) 0%, rgba(0, 64, 255, 0) 100%),
  url('../ICON/kite-runner.jpg');
  background-size: 100% 100%;
}

[class*='cover-']:hover{
  transform: scale(1.05);
}


.action-div{
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 1rem;
  border-radius: 16px;
  /* background:linear-gradient(0deg, #001f29ae 20%, #0f6cb99d 50%, #001f29cf 100%);s */
  background: linear-gradient(90deg ,rgba(2, 74, 88, 0.967)  24%,rgb(16, 119, 140) 58%,rgba(2, 74, 88, 0.967)100%);
  background-color: rgb(16, 119, 140) ;
}

.action-div .title {
  color: #ffffff;
  font-weight: bolder;
  text-transform: uppercase;
  font-size: large;
}

.action-div .author {
  color: #00a1fe;
  font-weight: bolder;
  font-family: monospace;
  font-size: larger;
  text-transform: uppercase;
  margin-top: .5rem;
}

.action-div .summery {
  display: flex;
  flex-direction:column;
  color: #ffffff;
  opacity: 75%;
  font-size: small;
  font-weight: lighter;
  margin: .5rem 0;
}

.action-div .summery h5{
color: #00a1fe;
 
}

.star-rating-wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.star-rating svg{
  color: yellow;
  cursor: pointer;
}



.book-mark svg{
  width:1.125rem;
  height: 1.5rem;
  color: white;
  cursor: pointer;
}

.action-div .action-btn {
  padding: 0.2em 1.8em;
  border: 1px solid #ffffff;
  position: relative;
  margin: 0;
  border-radius: 20px;
  overflow: hidden;
  background-color: transparent;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  transition: .3s;
  z-index: 1;
  font-family: inherit;
  color: #ffffff;
 }

 .action-btn svg{
  width:30px;
  height: 30px;
 }
 
 .action-btn::before {
  content: '';
  width: 0;
  height: 300%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
  background-color: #ffffff;
  transition: .5s ease;
  display: block;
  z-index: -1;
 }
 
 button:hover::before {
  width: 105%;
  color: black;
 }
 
 .action-btn:hover {
  color: #00a1fe;
 }


 @media  only screen and (max-width:800px){
  
  .product-card-wrapper{
    justify-content: center;
  }  
}
 

